<div class="modal fade" id="overrun_Modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Dépassement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ajouter ce planning va entraîner un dépassement sur le projet. Continuer quand même ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" onclick="sendPlanningNewRequest();">Continuer</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addPlanning_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addModal_title">Ajout d'une entrée au planning</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<dl class="row">
					<dt class="col-sm-5">Ressource :</dt>
						<dd class="col-sm-7">
							<span id="addModal_ressource"></span>
							<span class="d-none" id="addModal_ressourceForm"></span>
						</dd>
					<dt class="col-sm-5">Date de démarrage :</dt>
						<dd class="col-sm-7">
							<span id="addModal_startDate"></span> (<span id="addModal_startHour"></span>)
							<span class="d-none" id="addModal_startDateForm"></span>
							<span class="d-none" id="addModal_startHourForm"></span>
						</dd>
					<dt class="col-sm-5">Durée :</dt>
						<dd class="col-sm-7">
							<span id="addModal_duration"></span>
							<span class="d-none" id="addModal_durationForm"></span>
						</dd>
					<dt class="col-sm-5">Confirmé :</dt>
						<dd class="col-sm-7">
							<input id="addForm_confirmed" type="checkbox" checked>
						</dd>
					<dt class="col-sm-5">Important :</dt>
						<dd class="col-sm-7">
							<input id="addForm_meeting" type="checkbox">
						</dd>
					<dt class="col-sm-5">Projet :</dt>
						<dd class="col-sm-7">
							<select id="addForm_projectId">
								<option value="0">Absence</option>
								{% for project in projects %}
									{% if not project.archived and me.canAdmin(project) %}
									<option value="{{ project.id }}">{{ project.client }} - {{ project.name }}{% if project.nbDays is not null and project.nbDays != 0%} ({{ project.nbDays - project.plannedDays }}jh rest.){% endif %}</option>
									{% endif %}
								{% endfor %}
							</select>
						</dd>
					<dt class="col-sm-5">Tâche :</dt>
						<dd class="col-sm-7">
							<select id="addForm_taskId" disabled="disabled">
								<option value="0" id="nullTask"></option>
							</select>
						</dd>

				</dl>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" onclick="addPlanning()">Ajouter</button>
			</div>
		</div>
	</div>
</div>

