{% extends "base.html.twig" %}

{% block pageTitle %}Modifier une tâche{% endblock %}

{% block body %}
<h1>Modifier une tâche</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}

