<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">


		<title>Sked - Authentification</title>

		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/fa-svg-with-js.css" rel="stylesheet">
		<link href="/css/signin.css" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" action="{{ path('login') }}" method="post">
			<img src="/img/logo_sked_dark.png" alt="Logo Sked" class="img-fluid" />	
			<h1 class="h3 mb-3 font-weight-normal">Sked</h1>

			{% if error %}
			<div class='alert alert-danger'>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<label for="inputEmail" class="sr-only">Utilisateur</label>
			<input type="text" id="username" name="_username" class="form-control" placeholder="Utilisateur" value="{{ last_username }}" required autofocus>
			<label for="inputPassword" class="sr-only">Mot de passe</label>
			<input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" required>
	{#
	<input type="hidden" name="_target_path" value="/account" />
	#}
			<button class="btn btn-lg btn-outline-primary btn-block" type="submit">Connexion</button>
		</form>
	  <script src="/js/fontawesome-all.min.js"></script>
	</body>
</html>
