body {
  padding-top: 5rem;
}
.kanProject ul{
	margin:0;
}
.kanProject .card-body{
	padding: 5px 15px ;
}
.kanProject{
	margin-bottom: 5px;
}
.kanGhost{
	display:none;
	margin-bottom: 5px;
}
.kanCol{
	border : 1px #ccc solid;
	border-width : 0 1px ;
}
.kanFloat{
	z-index:10000;
    box-shadow: 10px 10px 5px grey;
}
.kanActiveCol{
	background-color:lightblue;
}
.schedDate{
	text-align:center;
	border: 1px #ccc solid;
}
.schedUser{
	text-align:right;
} 
.schedHour{
	border: 1px #ccc solid;
}
.schedActive{
	background : #ccf;
}
