body {
  padding-top: 5rem;
}
nav img{
	height:1.5em;
	width:auto;
	vertical-align:top;
}
.kanProject ul{
	margin:0;
}
.kanProject .card-body{
	padding: 5px 15px ;
}
.kanProject{
	margin-bottom: 5px;
}
.kanGhost{
	display:none;
	margin-bottom: 5px;
}
.kanCol{
	border : 1px #ccc solid;
	border-width : 0 1px ;
}
.kanFloat{
	z-index:10000;
    box-shadow: 10px 10px 5px grey;
}
.kanActiveCol{
	background-color:lightblue;
}
.hasAdmin{
	border: 2px #1a1 solid !important;
}
.schedule{
	table-layout: fixed;
	margin-bottom: 50px;
}
th.schedDate{
	text-align:center;
	border-top: 0;
	border-right: 1px #ccc solid;
}
th.schedUser{
	width: 140px;
	text-align:right;
} 
.schedHour{
	border: 1px #ccc solid;
	padding:0 !important;
	height:40px;
}
.friday{
	border-right : #ccc 5px double !important;
}
.holiday{
	background: #eee;
}
.today{
	background: #dfd !important;
}
.projectContainer {
	position: relative;
	width:100%;
	height:100%;
}
.project  {
	color:#F6F6F6;
	border: 1px #ccc solid;
	border-radius: 5px;
	margin-top : 5px;
	margin-left : 1px;
	padding-left:3px;
	height:30px;
	left:0;
	right:0;
	position: absolute;
	z-index: 10;
	overflow: hidden;
}
.project i {
	float:right;
	padding-right:3px;
}
.ui-resizable-e {
	width: 25px;
}
.projectGhost {
	border: 1px #aac solid;
	background: #eef;
	border-radius: 5px;
	margin-top : 4px;
	margin-left : 1px;
	height:30px;
	left:0;
	right:0;
	position: absolute;
	z-index: 100;
	overflow-x: hidden;
}
.activeDrop {
	background: #cfc;
}
.popover {
    max-width: 450px;
    width: 350px;
}
.popover ul{
	padding-left:1em;
}
.actions {
	text-align:right;
}
.popupaction {
	text-align:center;
}
.billable {
	background:#7b6;
	border-color:#150;
}
.otherProject {
	background:#eee;
	border-color:#ccc;
	color:#ccc;
}
.meeting {
	background:#b76;
	border-color:#510;
}
.billable-unconfirmed {
	border-color:#150;
	background: repeating-linear-gradient(
		45deg,
		#7b6,
		#7b6 5px,
		#8c7 5px,
		#8c7 10px
	);
}
.meeting-unconfirmed {
	border-color:#510;
	background: repeating-linear-gradient(
		45deg,
		#b76,
		#b76 5px,
		#c87 5px,
		#c87 10px
	);
}
.non-billable {
	background:#67b;
	border-color:#015;
}
.absence {
	background:#bb7;
	border-color:#551;
	color:inherit;
}
.modal-dialog {
	max-width:1000px !important;
} 
.legend {
	display : inline-block;
	border: 1px solid;
	border-radius: 5px;
	width : 70px;
	text-align:center;
}
.managerList:after{
	content:", "
}
.managerList:last-child:after{
	content:""
}
.card-footer{
	text-align:center;
}
p span.title{
	font-weight:bold;
}
