body {
  padding-top: 5rem;
}
.kanProject ul{
	margin:0;
}
.kanProject .card-body{
	padding: 5px 15px ;
}
.kanProject{
	margin-bottom: 5px;
}
.kanGhost{
	display:none;
	margin-bottom: 5px;
}
.kanCol{
	border : 1px #ccc solid;
	border-width : 0 1px ;
}
.kanFloat{
	z-index:10000;
    box-shadow: 10px 10px 5px grey;
}
.kanActiveCol{
	background-color:lightblue;
}
.schedule{
	table-layout: fixed;
	margin-bottom: 50px;
}
th.schedDate{
	text-align:center;
	border-top: 0;
	border-right: 1px #ccc solid;
}
th.schedUser{
	width: 120px;
	text-align:right;
} 
.schedHour{
	border: 1px #ccc solid;
	padding:0 !important;
	height:40px;
}
.friday{
border-right : #ccc 5px double !important;
}
.projectContainer {
	position: relative;
	width:100%;
	height:100%;
}
.project {
	border: 1px #668 solid;
	background: #ccf;
	border-radius: 5px;
	margin-top : 5px;
	margin-left : 1px;
	padding-left:3px;
	height:30px;
	left:0;
	right:0;
	position: absolute;
	z-index: 10;
	overflow-x: hidden;
}
.project i {
	float:right;
	padding-right:3px;
}
.ui-resizable-e {
	width: 25px;
}
.projectGhost {
	border: 1px #aac solid;
	background: #eef;
	border-radius: 5px;
	margin-top : 4px;
	margin-left : 1px;
	height:30px;
	left:0;
	right:0;
	position: absolute;
	z-index: 100;
	overflow-x: hidden;
}
.activeDrop {
	background: #cfc;
}
.popover {
    max-width: 350px;
    width: 350px;
}
.action {
	text-align:center;
}
