{% extends 'base.html.twig' %}

{% block pageTitle %}Modifier un projet{% endblock %}

{% block body %}
<h1>Modifier un projet</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
